body {
    display: grid;
    grid-template-columns: repeat(8, 65px);
    grid-template-rows: repeat(8, 65px);
    gap: 5px;
    background-color: #ccc;
    padding: 20px;
}

.black {
    background-color: #964B00;
    border-radius: 50%;
}

.white {
    background-color: #F5DEB3;
    border-radius: 50%;
}